<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7j2H_EFOidRBVGyFaA5670lRx2EI-dWE</string>
	<key>GCM_SENDER_ID</key>
	<string>685908426060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>altugcelil.locationSaveApp</string>
	<key>PROJECT_ID</key>
	<string>mapmento-c8ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>mapmento-c8ffd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685908426060:ios:fd852c6b4ca190260ba3e9</string>
	<key>DATABASE_URL</key>
	<string>https://mapmento-c8ffd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>